<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
		<p>Title: {{book_details['title']}}</p>
		<p>ISBN: {{book_details['isbn']}}</p>
		<p>Publisher: {{book_details['publisher']}}</p>
		<p>Author: {{book_details['author']}}</p>
        <!-- wyepłnij szablon szczegółami danej książki -->
    </body>
</html>