<!DOCTYPE html>
<html>
    <head>
        <title>calc</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    </head>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <body>
		<p>
            <form action="{{ url_for('add_calc')}}" method="POST" class="add_calc">
                <div class="field">
                    <label for="title">Dane:</label>
                    <input type="text" size="100" name="title" id="title"/>
                </div>
                <div class="control_row">
                    <input type="submit" name="calc" value="Oblicz"/>
                </div>
            </form>
		</p>
    <p>
        {{ result }}
    </p>
    <ul>
        {% for calculation in calculations %}
            <li>
               {{calculation}}
            </li>
        {% else %}
            <li><em>Brak dostepnych obliczen</em></li>
        {% endfor %}

    </ul>
    </body>
</html>